<header>
  <h1 class="text-3xl font-bold underline text-center mt-10">Angular v19.1 + Tailwind CSS 4.0</h1>
</header>
<main>
  <form class="px-5 py-5">
    <input 
      class="bg-neutral-50 px-2 rounded shadow-2xs w-full block border-2 border-blue-500"
      placeholder="search term for title, author and description"
      type="text"
    />
  </form>
  <article class="book-card bg-neutral-50">
    <h4 class="text-xl font-bold">Card title</h4>
    <div>
      <p>Card content</p>
    </div>
  </article>
</main>