<header>
</header>
<main>
  <div class="max-w-4xl m-auto">
      <form class="flex">
        <input 
          class="bg-neutral-50 px-2 grow-4 shadow-2xs border-2 border-blue-500"
          placeholder="search term for title, author and description..."
          type="text"
          name="searchTerm"
          [(ngModel)]="searchTerm"
        />
        <button [disabled]="isInvalidForm" class="text-neutral-50 bg-blue-500 px-2 grow-1 disabled:bg-blue-300 disabled:cursor-not-allowed">search</button>
      </form>
      <button 
        (click)="toggleAdvancedSearch()" 
        class="text-neutral-50 bg-blue-500 mt-1">
        advanced search
      </button>
  </div>
 
  <div [hidden]="!advancedSearchAvailable"
    class="bg-white max-w-6xl border-1 border-neutral-200 m-auto"
    >
    <form 
    [formGroup]="advancedSearchForm"
    class="flex p-3 gap-x-12 gap-y-4 flex-wrap">
      <div>
        <label for="startDate">Start Date:</label>
        <br>
        <input class="border-1 border-neutral-200 bg-neutral-50" type="date" id="startDate" formControlName="startDate">
      </div>
      
      <div>
        <label for="startDate">End Date:</label>
        <br>
        <input class="border-1 border-neutral-200 bg-neutral-50" type="date" id="end date" formControlName="endDate">
      </div>
      
      <div>
        <label for="sortColumn">Pick a column to sort:</label>
        <br>
        <select id="sortColumn" class="border-1 bg-neutral-50 border-neutral-200" formControlName="sortColumn">
          <option *ngFor="let sortColumn of sortColumns" [value]="sortColumn.value">{{sortColumn.viewValue}}</option>
        </select>
      </div>
      
      <div>
        <label>Pick a sorting order:</label>
        <br>
        <select id="sortOrder" class="border-1 bg-neutral-50 border-neutral-200" formControlName="sortOrder">
          <option *ngFor="let sortOrder of sortOrders" [ngValue]="sortOrder.value">{{sortOrder.viewValue}}</option>
        </select>
      </div>
      
      <div>
        <label for="minCopies">Enter number of min copies:</label>
        <br>
        <input 
          id="minCopies"
          formControlName="minCopies"
          class="border-1 bg-neutral-50 border-neutral-200"
          type="number"
          min="1"
          max="100"
          formControlName="minCopies"
        />
      </div>
      
      <div>
        <label for="maxCopies">Enter number of max copies:</label>
        <br>
        <input 
          class="border-1 bg-neutral-50 border-neutral-200"
          type="number"
          min="1"
          max="100"
          id="maxCopies"
          formControlName="maxCopies"

        />
      </div>

      <div>
        <label for="minrating">Enter number of min rating:</label>
        <br>
        <input 
          id="minrating"
          class="border-1 bg-neutral-50 border-neutral-200"
          type="number"
          min="0"
          max="5"
          formControlName="minRating"
        />
      </div>
      
      <div>
        <label for="maxrating">Enter number of max rating:</label>
        <br>
        <input 
          id="maxrating"
          class="border-1 bg-neutral-50 border-neutral-200"
          type="number"
          min="0"
          max="5"
          formControlName="maxRating"
        />
      </div>
    </form>
    <div class="px-3">
      <div *ngFor="let error of formErrors">
        <div class="text-sm text-red-500">{{error}}</div>
      </div>
    </div>
  </div>

  
  <article class="book-card bg-neutral-50">
    <h4 class="text-xl font-bold">Card title</h4>
    <div>
      <p>Card content</p>
    </div>
  </article>
</main>